h1 { padding: 10px; margin; 10px; color: maroon; }
img { height: 800px; width: 800px; }
p { font-size: 14px; font-weight: lighter; }
.para { color: white; }
#hook { border-style: solid; border-radius: 10px; }
